lightning~=2.0.3
wandb~=0.14.0
pandas~=1.5.1
argparse
tgt
pyworld~=0.2.10
scipy~=1.9.3
torchmetrics
pillow
matplotlib~=3.6.3
pyyaml~=6.0
scikit-learn~=1.1.2
seaborn
soundfile
pyrallis
librosa~=0.9.2
opensmile~=2.4.2
loguru~=0.6.0
gdown
pip-system-certs

numpy~=1.22.3
tqdm~=4.64.1
PyYAML~=6.0

--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision
torchaudio
