lightning~=2.0.3
wandb~=0.14.0
pandas~=1.5.1
tgt~=1.4.4
pyworld~=0.2.10
scipy~=1.9.3
torchmetrics~=0.11.4
pillow~=9.5.0
matplotlib~=3.6.3
pyyaml~=6.0
scikit-learn~=1.1.2
seaborn~=0.12.2
soundfile~=0.12.1
pyrallis~=0.3.1
librosa~=0.9.2
opensmile~=2.4.2
loguru~=0.6.0
gdown~=4.7.1
pip-system-certs

numpy~=1.22.3
tqdm~=4.64.1
PyYAML~=6.0

--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision
torchaudio
